<!-- this is the main AppComponent shell.  
    The application is based here. 
-->
<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <!-- routerLink is an attribute 
        that the router matches with the route to HorsesComponent. 

        routerLink is the selector for the RouterLink directive
        that turns clicks into router navigations.
        
        It's another of the public directives in the RouterModule.
    -->
    <a routerLink="/horses">Horses</a>
</nav>
<router-outlet></router-outlet>

<app-messages></app-messages>
