<h2 class="boxIt">My Horsepeople</h2>
<ul class="horses">
	<li *ngFor="let horse of horses">
		<span class="badge">{{horse.id}}</span> {{horse.name}}
	</li>
</ul>

<h2>{{horse.name}} Details</h2>
<div>
	<span>id: </span>{{horse.id}}
</div>
<div>
	<span>name: </span>{{horse.name | uppercase}}

	<label>name: 
		<!-- TWO-WAY BINDING !!!  -->
		<!-- ngModel is NOT available by default.  -->
		<!-- must opt-in via the FormsModule -->
		<input [(ngModel)]="horse.name" placeholder="name">
	</label>
</div>

