<h2 class="boxIt">My Horsepeople</h2>
<ul class="horses">
	<li *ngFor="let horse of horses" (click)="onSelect(horse)">
		<span class="badge">{{horse.id}}</span> {{horse.name}}
	</li>
</ul>


<!-- DETAILS OF SELECTED -->
<div *ngIf="selectedHorse">

	<h2>{{selectedHorse.name | uppercase}} Details</h2>
	<div>
		<span>id: </span>{{selectedHorse.id}}
	</div>
	<div>
		<span>name: </span>{{selectedHorse.name | uppercase}}
		
		<label>name: 
			<!-- TWO-WAY BINDING !!!  -->
			<!-- ngModel is NOT available by default.  -->
			<!-- must opt-in via the FormsModule -->
			<input [(ngModel)]="selectedHorse.name" placeholder="name">
		</label>
	</div>
</div>
	
	